<div
    class="flex flex-col items-center justify-center h-screen w-screen max-w-sm mx-auto text-center"
>
    <h1 class="text-3xl text-skin-muted print:text-3xl">Page not found</h1>
    <p class="mt-5 text-base sm:text-xl text-lg text-skin-muted print:text-lg">
        The page you are looking for doesn't exist...yet
    </p>

    <a href="/">
        <button
            class="inline-flex items-center justify-center px-10 py-4 text-base text-white
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:bg-secondary focus:bg-secondary"
        >
            Take me home
        </button>
    </a>
</div>
